/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 0.5rem 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Logo */
.logo {
    position: absolute;
    left: 1rem;
    top: 50%;
    border: 2px solid white;
    transform: translateY(-50%);
    width: 25px;
    height: auto;
}

/* Headings */
h2 {
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.05rem 0;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    background-color: #555;
}

/* Container */
.container {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

/* Sections */
.text-section {
    flex: 1;
    padding: 20px;
}

.media-section {
    flex: 2;
    padding: 20px;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Video */
.video-container {
    width: 80%;
    margin: auto;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Bio section */
.bio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bio-text {
    width: 66%;
    padding: 20px;
}

.bio-image {
    width: 33%;
}

.bio-image img {
    width: 60%;
    height: auto;
}

/* Video Background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120vw;
    height: 120vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* Text Container */
.text-container {
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}
/* Fullscreen Image */
.fullscreen-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    background: url('your-image.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

/* Overlay Text */
.overlay-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}
